.nav-holder {
    width: 25vw;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.main-nav {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-links {
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
    gap: 2rem;

}

ul li{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
}


li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 0.8rem 1.1rem;
    border: 3px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          transition: all 0.6s ease;
    
}

li a:hover {
    color: #0C4076;
    border: 3px solid #0C4076;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.6s ease;
}

